<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<h1  style="font-size:30px">你还没号，赶紧注册</h1>
<form method="post" action="{% url 'loginandregister:register' %}">
{% csrf_token %}
    <label>用户名</label>
    <input name="username2" ></input>
    <br>
    <label>密码</label>
    <input name="password2" type="password"></input>
    <br>
    <label>确认密码</label>
    <input name="password3" type="password"></input>
    <br>
    <br>
    <button type="submit">注册</button>
    <a href="http://127.0.0.1:8000/loginandregister/login/"><button type="button">返回登陆</button></a>
    <br>
    <br>
    {% if success %}
        <a href="http://127.0.0.1:8000/loginandregister/login/">{{ success }}</a>
    {% endif %}
    {% if error %}
        <a href="http://127.0.0.1:8000/loginandregister/login/">{{ error }}</a>
    {% endif %}
    {% if errorn %}
    {{ errorn }}
    {% endif %}
</form>

</body>
</html>